In [10]:
l=[1,2,3,4.5,"krishna"]

In [11]:
l

[1, 2, 3, 4.5, 'krishna']

In [12]:
for i in l:
    print(i)

1
2
3
4.5
krishna

In [13]:
for i in l:
    if type(i)==str:
        print(i+"biradar")
    elif type(i)==int or type(i)==float:
        print(i+1)

2
3
4
5.5
krishnabiradar

In [14]:
for i in l:
    if type(i)==int or type(i)==float or type(i)==str:
        print(i+1)

2
3
4
5.5

TypeError: can only concatenate str (not "int") to str

In [15]:
for i in l:
    if type(i)==int:
        if i==4:
            break
        print(i)

1
2
3

In [16]:
price= int(input())
if price in range(1500,1999):
    print("i will buy a louis philippe shirt")
elif price in range(1000,1500):
    print("i will buy a DNMX shirt")
elif price in range(500,1000):
    print("i will buy a NETPLAY shirt")
else:
    pass

ValueError: invalid literal for int() with base 10: ''

In [17]:
l=[1,2,3,4,"krishna",8.38]

In [18]:
l

[1, 2, 3, 4, 'krishna', 8.38]

In [19]:
for i in l:
    print(i)

1
2
3
4
krishna
8.38

In [20]:
for i in l:
        pass

In [21]:
s="krish,na"

In [22]:
for i in s:
    print(i)

k
r
i
s
h
,
n
a

In [23]:
for i in l:
    print(i)
else:
    print("given statement is wrong")

1
2
3
4
krishna
8.38
given statement is wrong

In [24]:
for i in l:
    if i==4:
        break
    print(i)
else:
    print("given statement is wrong")

1
2
3

In [25]:
s

'krish,na'

In [26]:
for i in s:
    if i==",":
          break
    print(i)
else:
    print("given statement is wrong")

k
r
i
s
h

In [27]:
t=(1,2,3,"krishna",8.38)

In [28]:
t

(1, 2, 3, 'krishna', 8.38)

In [29]:
for i in t:
    if i==8.38:
        break
    print(i)
else:
    print("the above given stament is wrong")

1
2
3
krishna

In [30]:
k={1,1,1,2,2,3,3,4,4,"krishna","krishna",8.38,8.38}

In [31]:
k

{1, 2, 3, 4, 8.38, 'krishna'}

In [32]:
for i in  k:
    print(i)

1
2
3
4
8.38
krishna

In [33]:
d={'name':'krishna','name1':'nehal y','name2':'nandeesh'}

In [34]:
for i in d:
     print(i)

name
name1
name2

In [35]:
for i in d:
    print(d[i])

krishna
nehal y
nandeesh

In [36]:
for i in d:
    print(i,":",d[i])

name : krishna
name1 : nehal y
name2 : nandeesh

In [37]:
d.keys()

dict_keys(['name', 'name1', 'name2'])

In [38]:
d.values()

dict_values(['krishna', 'nehal y', 'nandeesh'])

In [39]:
range(0,9)

range(0, 9)

In [40]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [41]:
tuple(range(9))

(0, 1, 2, 3, 4, 5, 6, 7, 8)

In [42]:
set(range(9))

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [43]:
dict(range(9))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [44]:
for i in range(0,9):

    print(i)

0
1
2
3
4
5
6
7
8

In [45]:
n=4
for i in range(4):
    for j in range(0,i+1):
        print("krishna",end=" ")
    print("\n")

krishna

krishna krishna

krishna krishna krishna

krishna krishna krishna krishna

In [86]:
n=4

for j in range(1):
    print("\t"*3,"krishna")
    print("\n")
for k in range(1):
    print("\t"*2,"krishna \t"*2)
    print("\n")
for l in range(1):
    print("\t","krishna \t"*3)
    print("\n")
for m in range(1):
    print("krishna \t"*4)
    print("\n")

			 krishna


		 krishna 	krishna


	 krishna 	krishna 	krishna


krishna 	krishna 	krishna 	krishna

In [46]:
n=4
for i in range(-4,0):
    for j in range(i-1,-1):
        print("krishna", end=" ")
    print("\n")

krishna krishna krishna krishna

krishna krishna krishna

krishna krishna

krishna

In [144]:
for i in range(2):
    for j in range(0,i+1):
        print("       "*2,"ineuron",end=" ")
    print("\n")
for i in range(-4,0):
    for j in range(i-1,-1):
        print("ineuron", end="|")
    print("\n")

               ineuron

               ineuron                ineuron

ineuron|ineuron|ineuron|ineuron|

ineuron|ineuron|ineuron|

ineuron|ineuron|

ineuron|

In [48]:
n=4
for i in range(1):
    for j in range(0,i+1):
        print("            "," krishna","     ")
for i in range(1):
    for j in range(0,i+1):
        print("      ","krishna", "     ", "krishna")
for i in range(1):
    for j in range(0,i+1):
        print("krishna","  ","  ","krishna","     ","krishna","  ")

              krishna
       krishna       krishna
krishna       krishna       krishna

In [2]:
t=(1,2,43,567,23,25,76,)

i have to print it in index and elements format.

In [4]:
 for i in t:
        print(i.index,i)

AttributeError: 'int' object has no attribute 'index'

In [51]:
for i in range(len(t)):
    print(i,t[i])

0 1
1 2
2 43
3 567
4 23
5 25
6 76

In [5]:
s="krishna"
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 a
5 n
4 h
3 s
2 i
1 r
0 k

In [53]:
s="krishna"
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 a
5 n
4 h
3 s
2 i
1 r
0 k

In [4]:
d={'name':'krishna','name1':'nehal y','name2':'nandeesh'}

In [3]:
l=["krishna","biradar",8.38,8861,9379,8588,6523,2685]
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)

In [56]:
d.items()

dict_items([('name', 'krishna'), ('name1', 'nehal y'), ('name2', 'nandeesh')])

In [57]:
for i in d.items():
    print(i)

('name', 'krishna')
('name1', 'nehal y')
('name2', 'nandeesh')

In [5]:
d={'name':'krishna','name1':'nehal y','name2':'nandeesh'}

In [6]:
for i in d.items():
    print(i,type(i),type(i[0]))

('name', 'krishna') <class 'tuple'> <class 'str'>
('name1', 'nehal y') <class 'tuple'> <class 'str'>
('name2', 'nandeesh') <class 'tuple'> <class 'str'>

In [7]:
l=["krishna","biradar",8.38,8861,9379,8588,6523,2685]
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)

In [9]:
l=["krishna","biradar",8.38,8861,9379,8588,6523,2685]
l1=[]
for i in l:
    if type(i)==int:
        print(i)

8861
9379
8588
6523
2685

In [2]:
d={"name":"krishna",123:"fu*k","age":45,546:4737,87:"ayrabatta",90:"ramanujan"}

In [3]:
d

{'name': 'krishna',
 123: 'fu*k',
 'age': 45,
 546: 4737,
 87: 'ayrabatta',
 90: 'ramanujan'}

In [2]:
d={"name":"krishna",123:"fu*k","age":45,546:4737,87:"ayrabatta",90:"ramanujan"}

In [3]:

for i in d:
    if type(i)==int:
        print(i)

123
546
87
90

In [7]:
for i in d.items():
    if type(i)==int:
        print(i)

In [6]:
for i in d:
    if type(i)==int:
        print(i,":",d[i])

123 : fu*k
546 : 4737
87 : ayrabatta
90 : ramanujan

In [10]:
s="aaaabbccdd"

In [18]:
list(s)

['a', 'a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd']

In [21]:
set(s)

{'a', 'b', 'c', 'd'}

In [22]:
s.count("a")

4

In [24]:
for i in set(s):
    print(i,":",s.count(i))

d : 2
b : 2
c : 2
a : 4

In [11]:
t=("krishna",'biradar',[1,2,3,4],(3,4,5,6),{"key1":"krishna","key2":"biradar"})

In [17]:
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)

3
3

In [34]:
for j in list(i):
    print(j)

TypeError: 'int' object is not iterable

In [35]:
for j in set(i):
    print(i)

TypeError: 'int' object is not iterable

In [36]:
for j in tuple(i):
    print(j)

TypeError: 'int' object is not iterable

In [37]:
for j in dict(i):
    print(i)

TypeError: 'int' object is not iterable

In [120]:
t=("krishna","biradar",[1,2,3,4,5],(1,2,3,45,),{'name':'krishna','adress':'house no.95 AT|PO:hosur, Tq:babaleshwar, Dist: vijayapur'})

In [121]:
list(t)

['krishna',
 'biradar',
 [1, 2, 3, 4, 5],
 (1, 2, 3, 45),
 {'name': 'krishna',
  'adress': 'house no.95 AT|PO:hosur, Tq:babaleshwar, Dist: vijayapur'}]

In [122]:
l=['krishna',
 'biradar',
 [1, 2, 3, 4, 5],
 (1, 2, 3, 45),
 {'name': 'krishna',
  'adress': 'house no.95 AT|PO:hosur, Tq:babaleshwar, Dist: vijayapur'}]

In [123]:
for i in len(t) while range(0,4):
    if type(i)==list or type(i)==tuple:
        print(i)

SyntaxError: invalid syntax (323768832.py, line 1)

In [124]:
for i in t:
    if type(i)==list or type(i)==tuple or type(i)==dict:
        for j in i:
            if j==3:
                print(j)

3
3

In [125]:
for i in t:
    if type(i)==str:
        for j in i:
            if j=="r":
                print(j)

r
r
r

In [128]:
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j==4:
                print(j)
    if type(i)==str:
        for j in i:
            if j=="i":
                print(j)
    if type(i)==dict:
        for j in i:
                print(j,":",i[j])

i
i
4
name : krishna
adress : house no.95 AT|PO:hosur, Tq:babaleshwar, Dist: vijayapur

In [131]:
t=('krishna',
 'biradar',
 [1, 2, 3, 4, 5],
 (1, 2, 3, 45),
 {3:3,
  'adress': 'house no.95 AT|PO:hosur, Tq:babaleshwar, Dist: vijayapur'})

In [134]:
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)
    if type(i)==dict:
        for j in i:
            if j==3:
                print(j)
                print(i[j])

3
3
3
3

task based on for loop

Question:01

In [135]:
n=4
for i