# task based on python for loop

Question #1

In [29]:
n=4
for i in range(4):
    for j in range(0,i+1):
        print("ineuron",end=" ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [51]:
n=int(input("enter number--"))
for i in range(n):
    print("ineuron  "*(i+1),end=" ")
    print("\n")

enter number--4
ineuron

ineuron  ineuron

ineuron  ineuron  ineuron

ineuron  ineuron  ineuron  ineuron

Question #2

In [62]:
for i in range(1):
    print("\t"*2,"ineuron")
for i in range(1):
    print("\t","ineuron\t"*2)
for i in range(1): 
    print("ineuron \t"*3)
for i in range(1):
    print("\t","ineuron\t"*2)
for i in range(1):
    print("\t"*2,"ineuron")

		 ineuron
	 ineuron	ineuron
ineuron 	ineuron 	ineuron
	 ineuron	ineuron
		 ineuron

In [81]:
for i in range(6):
    if i<=3:
        n=i
    else:
        n=6-i
    print(("ineuron  "*n).center(30," "))

          ineuron
      ineuron  ineuron
 ineuron  ineuron  ineuron
      ineuron  ineuron
          ineuron

In [82]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

Question#3: try to extract all the list enttity.

In [85]:
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

Question#4: try to extract all the dict entities.

In [28]:
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

Question#5: try to extract all the tuple enttities.

In [90]:
l1=[]

In [91]:
for i in l:
    if type(i)==tuple:
        l1.append(i)
    if type(i)==set:
        l1.append(tuple(i)) 
for i in l1:
    print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)
(45, 4, 5, 23)

Question#6: try to extract all the numerical data it may be a part of dict key and values.

In [99]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [128]:
l1=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l1.append(j)
for k in l:
    if type(k)==dict:
        for j in k:
            if type(j)==int or type(j)==str:
                l1.append(j)
                l1.append(k[j])

In [129]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8]

Question#7:try to give summation of all the numerical data

In [117]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [119]:
sum(l1)

156

Question#8:try to extract all the odd values from the numerical outcome>

In [120]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [126]:
l2=[]
for i in l1:
    if i%2==0:
        pass
    else:
        l2.append(i)

In [127]:
l2

[1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]

Question#9: try to extract "ineuron" out of this data.

In [107]:
l[5][0],l[4]["k2"]

('ineuron', 'ineuron')

In [115]:
for i in l:
    if type(i)==list:
        for j in i:
            if j=='ineuron':
                print(j)
    if type(i)==dict:
        for j in i:
            if i[j]=="ineuron":
                print(i[j])

ineuron
ineuron

Question#10:try to find out number of occurances of all the data.

In [130]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8]

In [135]:
for i in l1:
    print(i,":",l1.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
45 : 1
4 : 4
5 : 3
23 : 1
k1 : 1
sudh : 1
k2 : 1
ineuron : 1
k3 : 1
kumar : 1
3 : 4
6 : 3
7 : 2
8 : 1

Question#11:try to find out number of keys in dict element.

In [232]:
l[4]
a=l[4]

In [233]:
len(a.keys())

5

Question#12:  try to filter out all the string data.

In [234]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [245]:
for i in l:
    if type(i)==dict:
        for j in i:
            if type(j)==str:
                print(j)
                print(i[j])
    if type(i)==list:
        for j in i:
            if type(j)==str:
                print(j)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

Question#13:try to find out the alphanum in data:

In [246]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [137]:
for i in l1:
     if type(i)==str:
            if i.isalnum():
                print(i)

k1
sudh
k2
ineuron
k3
kumar

Question#14:try to find out multiplication of all.

In [138]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8]

In [139]:
l2=[]
for i in l1:
    if type(i)==int:
        
        print(i)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

In [23]:
l[5][0],list(l[6].keys())[1]

(234, 243)

In [25]:
list(l[6].keys())

['name', 243]